#ComputerMainInfosPage {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

#computerMainInfos {
    margin-top: 16px;
    flex: 0 0 auto;
}

#mainInfosTable {
    flex: 1 1 auto;
    margin: 0px 8px 8px 56px;
    display: flex;
    flex-flow: column nowrap;
}

#computerElementsPage{
    display: flex;
    flex: 1 1 auto;
}

#mainInfosTableSelectHeader {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: rgb(194, 194, 194);
    border-radius: 6.25px;
    flex: 0 0 auto;
}

#mainInfosFiles{
    margin: 8px 0px;
    padding: 8px;
    background-color: rgb(194, 194, 194);
    border-radius: 6.25px;
    flex: 1 1 auto;
}